{
  "passPerPreset": true,
  "plugins": [
    "transform-runtime"
  ],
  "presets": [
    {
      "plugins": [
        "./babelRelayPlugin"
      ]
    },
    "react",
    ["es2015", { "modules": false }],
    "stage-0"
  ]
}
